<div class="col-lg-6 portfolio-item">
  <a class="portfolio-link" href="#portfolioModal{{@index}}" data-toggle="modal">
    <div class="caption">
      <div class="caption-content">
        <i class="fa fa-search-plus fa-2x"></i>
        <h3>{{title}}</h3>
        <em>{{date}}</em>
      </div>
    </div>
    <img class="img-fluid" src="img/portfolio/{{img}}" alt="">
  </a>
</div>
