<p>
  A user can view a list of hamburgers and mark them if they have been eaten. The application 
  maintains a MySql database to save the state of the burgers. Users may add more burgers to 
  the list and the entries are added to the database. This application was built using the Express 
  framework for Node and MySql on the backend. Handlebars was used to create semantic templates for 
  rendering the HTML.
</p>                  