<p>
  National Parks themed Hangman game that is fully mobile responsive built with Javascript, 
  HTML5, and Bootstrap 3 CSS. An image related to the park is displayed if you can solve 
  the word by guessing the correct letters.
</p>
                  