<p>
  This mobile responsive web page displays Gif images by requesting them via 
  the <a href="https://developers.giphy.com/"> Giphy API</a> based on pre-selected 
  topics or topics entered by the user. The application was built with jQuery, HTML5, 
  CSS3, and the Giphy API.
</p>
