<p>
  Board Game Trivia challenges the player to answer all the questions before time runs out. 
  After the quiz is finished, the score is displayed. This project was built with jQuery, 
  HTML5, and Bootstrap 3 CSS. The styling is mobile responsive.
</p>
